<button type="button" name="more" class="more-button" ng-click="toggleOpen()">
   <span class="glyphicon glyphicon-plus" ng-class="{ 'glyphicon-remove': open }"></span>
</button>
<div class="season-info" ng-class="{ 'open': open }" >
   <div class="tabs">
      <ul ng-repeat="season in seasons" ng-if="$index >= 1">
         <li ng-class="{ 'active': isTabSelected($index) }" ng-click="tabSelect($index)">S {{ $index }}</li>
      </ul>
   </div>

   <div class="lists" >
      <ul class="items" ng-class="{ 'active': isTabSelected($index) }" ng-repeat="season in seasons" ng-if="$index >= 1">

         <li ng-repeat="episode in season" ng-if="$index >= 1">
            <span class="item">Episode {{ episode.number }}</span>
            <span class="watched" ng-click="episode.watched = !episode.watched; rewatchobj.$save(index)" >
               {{ episode.watched }} {{index}}
            </span>
         </li>

      </ul>
   </div>
</div>
