<div class="countdown-card" ng-style="{ 'background-image': 'url({{ imgsrc }})' }">
   <button type="button" name="more" class="more-button" ng-class="{'open' : open, 'up-to-date':  0 }" ng-click="toggleOpen()">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="behind">{{ behindCount(seasons, currentseason) }}</span>
   </button>


   <div class="shutter" ng-class="{'open' : watchlistobj[index].upToDate }">
      <h2 class="text-center">Your Up to Date!</h2>
      <a href class="button" ng-click="watchlistobj.$remove(index)">ok</a>
   </div>
   <div class="shutter-delete" ng-class="{'open' : deleteOpen }">
      <h2>Delete from Watchlist?</h2>
      <div class="col-sm-6">
         <button type="button" name="cancel" class="button" ng-click="deleteOpen = false">cancel</button>
      </div>
      <div class="col-sm-6">
         <button type="button" name="delete" class="button red" ng-click="watchlistobj.$remove(index)">delete</button>
      </div>
   </div>

   <div class="season-tabs" ng-class="{ 'open': open }" >
      <div class="tabs">
         <ul ng-repeat="season in seasons">
            <li ng-class="{ 'active': isTabSelected(season[0]) }" ng-click="tabSelect(season[0])">S {{ season[0] }}</li>
         </ul>
      </div>

      <div class="lists">
         <ul class="items" ng-class="{ 'active': isTabSelected(season[0]) }" ng-repeat="season in seasons" >
            <li ng-repeat="episode in season" ng-if="$index > 0"  ng-class="{ 'disabled' : !episode.watched }">
               <span class="left" ng-class="{'invisible': episode.watched }">{{ aired(episode.airDate).by }}</span>
               <span class="item">Episode {{ $index }}</span>
               <span class="watched" ng-click="save(watchlistobj, index, seasons, episode, $index)" >
                  <span class="glyphicon" ng-class="{ 'glyphicon-eye-open' : episode.watched, 'glyphicon-eye-close' : !episode.watched }"></span>
               </span>
            </li>

            <button type="button" name="delete button" class="button red" ng-click="deleteOpen = !deleteOpen">Delete</button>
         </ul>
      </div>
   </div>

   <h2>{{ heading }}</h2>
   <h4>{{ details }}</h4>
   <h5>On {{ subheading }}</h5>
   <h6>Next <small>Aired Episode</small></h6>

   <div ng-transclude="frostGlass"></div>
</div>
