<button type="button" name="more" class="more-button" ng-click="toggleOpen()" ng-class="{'open': open}">
   <span class="glyphicon glyphicon-plus"></span>
</button>

<div class="season-info" ng-class="{ 'open': open }" >

   <div class="shutter" ng-class="{'open' : deleteOpen }">
      <h2>Delete from Rewatchlist?</h2>
      <div class="col-sm-6">
         <button type="button" name="cancel" class="button" ng-click="deleteOpen = false">cancel</button>
      </div>
      <div class="col-sm-6">
         <button type="button" name="delete" class="button red" ng-click="rewatchobj.$remove(index)">delete</button>
      </div>
   </div>

   <div class="tabs">
      <ul ng-repeat="season in seasons">
         <li ng-class="{ 'active': isTabSelected($index + 1) }" ng-click="tabSelect($index + 1)">S {{ $index + 1 }}</li>
      </ul>
   </div>

   <div class="lists">
      <ul class="items" ng-class="{ 'active': isTabSelected($index + 1) }" ng-repeat="season in seasons" >
         <li ng-repeat="episode in season" ng-if="$index > 0 && hasAired(episode.airDate)" ng-class="{'disabled' : !episode.watched }">
            <span class="item">Episode {{ episode.number }} <small>- {{ limitLength(episode.name, 18) }}</small></span>
            <span class="watched" ng-click="save(rewatchobj, index, episode, $index)" >
               <span class="glyphicon" ng-class="{ 'glyphicon-eye-open' : episode.watched, 'glyphicon-eye-close' : !episode.watched }"></span>
            </span>
         </li>
         <button type="button" name="delete button" class="button red" ng-click="deleteOpen = !deleteOpen">Delete</button>
      </ul>
   </div>
</div>
