<div class="container">
   <h1>Sign in</h1>

   <div class="col-md-offset-4 col-md-4">
      <form name="SigninCtrl.signinForm">
        <div class="form-element">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="SigninCtrl.email">
        </div>
        <div class="form-element">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="SigninCtrl.password">
        </div>

        <button type="submit" class="button pull-right" ng-click="SigninCtrl.login()">Sign in</button>
        <!-- <button type="submit" class="button pull-left" ng-click="SigninCtrl.signup()">Sign up</button> -->
      </form>
   </div>

</div>
