<div class="container">
   <div class="col-md-offset-4 col-md-4">
      <h1>Sign in</h1>

      <form name="SigninCtrl.signinForm" novalidate ng-submit="SigninCtrl.login()">
        <div class="form-element">
          <label for="email">Email</label>
          <input name="email" type="email" ng-model="SigninCtrl.email" required>
        </div>
        <div class="form-element">
          <label for="password">Password</label>
          <input name="password" type="password" ng-model="SigninCtrl.password" required>
        </div>
        <div class="form-element">
           <button type="submit" class="button pull-right" ng-click="SigninCtrl.login()" ng-disabled="SigninCtrl.signinForm.$invalid">Sign in</button>
        </div>
        <div class="form-element validation">
          <div class="message" ng-class="{ 'show': SigninCtrl.validation.show }">{{ SigninCtrl.validation.message }}</div>
        </div>
      </form>
   </div>

</div>
