<div class="container">

   <div class="row">
      <div class="col-md-4 fade-in" ng-repeat="show in ShowsCtrl.shows">
         <countdown-card
            heading="show.series"
            subheading="''"
            imgsrc="show.imgSrc"
            countdownvisible="false" >
         </countdown-card>
      </div>
   </div>

   <div class="row">
      <div class="col-md-4">
         <h3>Add Show</h3>
         <form name="form">
            <div class="form-element">
               <label for="series">Series</label>
               <input type="text" name="series" ng-model="ShowsCtrl.series">
            </div>

            <button class="button pull-right" ng-click="ShowsCtrl.add()">Add</button>
         </form>
      </div>
   </div>
</div>
