<div class="container">
   <div class="row">
      <button class="button pull-right margin-bottom-30" ng-click="ShowsCtrl.openPopup()">Add a show</button>
   </div>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-4 col-md-2 fade-in" ng-repeat="show in ShowsCtrl.shows | orderBy: 'series'">
         <show-card
            heading="show.series"
            imgsrc="show.imgSrc" >
         </show-card>
      </div>
   </div>

   <no-content condition="!ShowsCtrl.shows[0]" message="'Your Show collection is empty!'"></no-content>
</div>

<div class="popup slide-down" ng-class="{ 'open': ShowsCtrl.popupOpen }">
   <div class="center">
      <div class="content">
         <h3>Add Show</h3>
         <form name="form">
            <div class="form-element search">
               <label for="series">Series</label>
               <div class="search-loader" ng-class="{'show' : ShowsCtrl.sendStatus.loader }"></div>
               <input type="text" name="series" ng-model="ShowsCtrl.series">
            </div>
            <button class="button red" ng-click="ShowsCtrl.popupOpen = false">cancel</button>
            <button class="button pull-right" ng-click="ShowsCtrl.add()" ng-disabled="ShowsCtrl.sendStatus.disableButton">add</button>
         </form>
      </div>
   </div>
</div>
