<div class="container">
   <div class="row margin-bottom-20">
      <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4">
         <form name="form" ng-submit="ShowsCtrl.find()">
            <div class="form-element search">
               <div class="loader" ng-class="{'show' : ShowsCtrl.sendStatus.loader }"></div>
               <input type="text" name="series" ng-model="ShowsCtrl.series">
               <button class="dripicons-search" ng-click="ShowsCtrl.find()" ng-disabled="ShowsCtrl.sendStatus.disableButton"></button>
            </div>
         </form>
         <div class="search-results">
            <div class="result" ng-repeat="show in ShowsCtrl.foundShows">
               <div class="number">{{ $index + 1 }}.</div>
               <div class="name">{{ show.name }}</div>
               <div class="network">{{ show.network }}</div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row show-layout">
      <div class="col-xs-6 col-sm-3 col-md-2 fade-in" ng-repeat="show in ShowsCtrl.shows | orderBy: 'series'">
         <show-card
            heading="show.series"
            imgsrc="show.imgSrc"
            shows="ShowsCtrl.shows"
            index="$index" >
         </show-card>
      </div>
   </div>

   <no-content condition="!ShowsCtrl.shows[0]" message="'Your show collection is empty!'"></no-content>
</div>
