.search-loader{
  position: relative;
  height: 23px;
  width: 23px;
  opacity: 0;

  &:after{
    z-index: 20;
    position: absolute;
    content: '';
    top: 9px;
    left: -1px;
    right: 0;
    height: 4px;
    width: 4px;
    background-color: #fff;
  }

  &:before{
    z-index: 10;
    content: '';
    height: 23px;
    width: 23px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid $base-color;
  }
  @include transition(opacity 200ms ease);

  &.show{
    opacity: 1;
  }

  @include animation(1s rotate infinite);
}
