.search-loader{
  position: relative;
  background: url("fonts/loader.svg") no-repeat;
  height: 23px;
  width: 23px;
  display: block;
  background-size: 23px 23px;
  opacity: 0;
  @include transition(opacity 200ms ease);

  &.show{
    opacity: 1;
  }

  @include animation(1s rotate infinite);
}
