.watchlist-card{
  position: relative;
  display: block;
  margin: 0 auto 25px auto;
  max-width: 357px;
  height: 500px;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px 15px 0 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @include box-shadow(inset 0 150px 150px rgba(0, 0, 0, 0.3));

  h2{
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  h5{
    font-size: 12px;
  }

  h4{
    font-size: 20px;
    color: #ffffff;
    margin: 0px 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  }

  h6{
    z-index: 20;
    position: absolute;
    bottom: 60px;
    font-weight: bold;
    left: 0;
    width: 100%;
    padding: 10px 0 10px 15px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);

    small{
      text-transform: none;
      color: inherit;
    }
  }

  h2, h5{
    z-index: 10;
    font-weight: bold;
    position: relative;
    color: #ffffff;
  }

  @media(max-width: 767px){
    h2{
      font-size: 25px;
    }
    h4{
      font-size: 15px;
    }
  }
}

.watchlist-card{
  .more-button{
    z-index: 300;
    overflow: hidden;
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: none;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    padding: 0;
    span{ @include transition(all 500ms ease);}

    .glyphicon{
      z-index: 20;
      position: absolute;
      left: 0;
      line-height: 60px;
      width: 100%;
      height: 100%;
      font-size: 20px;
      opacity: 0;
      @include transforms(translate(-20px, 0) scale(0));
    }

    .behind{
      z-index: 10;
      position: relative;
      display: block;
      width: 100%;
      font-size: 21px;
      font-weight: bold;
      opacity: 1;
      color: $base-color;
      @include transforms(translate(0, 0) scale(1));
    }

    @include transition(transform 300ms ease);
    @include transforms(translate(0, 345px) scale(1));
    @include box-shadow(0 3px 13px rgba(0, 0, 0, 0.4));

    &:hover, &:focus{
      @include box-shadow(0 4px 18px rgba(0, 0, 0, 0.6));
      .behind{
        opacity: 0;
        @include transforms(translate(20px, 0) scale(0));
      }
      .glyphicon{
        opacity: 1;
        @include transforms(translate(0, 0) scale(1));
      }
    }

    &.open{
      @include transforms(translate(0, 0) scale(0.5) rotate(45deg));
      .behind{
        opacity: 0;
        @include transforms(translate(20px, 0) scale(0));
      }
      .glyphicon{
        opacity: 1;
        @include transforms(translate(0, 0) scale(1));
      }
    }

    &.up-to-date{
      .behind{
        opacity: 0;
        @include transforms(translate(20px, 0) scale(0));
      }
      .glyphicon{
        opacity: 1;
        @include transforms(translate(0, 0) scale(1));
      }
    }
  }
}


.watchlist-card{
  overflow: hidden;

  .season-info{
    padding-top: 120px;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    @include transition(all 500ms ease);
    @include transforms(translate(-100%, 0));

    .button.red{
      margin: 25px auto 10px auto;
      width: 90%;
      display: block;
    }

    &.open{
      opacity: 1;
      @include transforms(translate(0, 0));
    }

    .items{
      &::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
      }

      position: relative;
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
      max-height: 265px;
      overflow-y: auto;

      .left{
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        width: 30%;
        float: left;
        @include transition(opacity 400ms ease);
        &.invisible{
          opacity: 0;
        }
      }

      .item{
        font-weight: bold;
        width: 40%;
        float: left;
      }

      .watched{
        text-align: right;
        width: 30%;
        float: left;
      }

      li{
        margin: 10px auto;
        height: 50px;
        width: 90%;
        background-color: #ffffff;
        display: block;
        padding: 15px 10px;
        border-radius: 4px;
        @include transition(opacity 500ms ease);

        &.disabled{
          opacity: 0.7;

          .watched{
            .glyphicon{
              &:hover{
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }

  .shutter, .shutter-delete{
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;

    h2{
      text-align: center;
      width: 100%;
      position: absolute;
      top: 150px;
      left: 0;
    }

    .button{
      margin: 300px auto 0 auto;
      display: block;
      max-width: 100px;
    }

    @include transforms(translate(0, -115%));
    @include transition(all 300ms ease);

    &.open{
      @include transforms(translate(0, 0));
      opacity: 1;
    }
  }
}
