button {
  position: relative;
  outline: 0; }

#view {
  padding-top: 150px;
  padding-bottom: 150px;
  min-height: 500px; }
  @media (max-width: 991px) {
    #view {
      padding-top: 50px; } }

body {
  font-family: 'Nunito', sans-serif; }

h1 {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold; }

@media (max-width: 1200px) {
  .show-layout .col-sm-3 {
    padding: 0; }
  .show-layout .show-card {
    margin: auto;
    border-radius: 0; }
    .show-layout .show-card h2 {
      font-size: 20px; } }

.navigation-bar {
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  padding-top: 50px;
  -webkit-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease; }
  .navigation-bar .brand {
    float: left;
    font-weight: bold;
    line-height: 56px;
    font-size: 20px;
    color: #6840e5; }
  .navigation-bar .links {
    float: right;
    margin: 0;
    padding: 0;
    display: block; }
    .navigation-bar .links.auth {
      position: absolute;
      top: 0;
      right: 0; }
      .navigation-bar .links.auth a {
        font-size: 10px; }
    .navigation-bar .links li {
      display: inline-block;
      float: left;
      /*tablet*/ }
      .navigation-bar .links li a {
        text-align: center;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        font-size: 12px;
        float: left;
        letter-spacing: 1px; }
      .navigation-bar .links li.active a {
        cursor: default;
        color: #000000;
        font-weight: bold; }
      @media (max-width: 991px) {
        .navigation-bar .links li {
          display: block;
          float: left;
          width: 100%; } }
  .navigation-bar.open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  @media (max-width: 991px) {
    .navigation-bar {
      height: 100%;
      width: 40%;
      -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
      transform: translate(-100%, 0); }
      .navigation-bar .container {
        width: auto; } }
  @media (max-width: 767px) {
    .navigation-bar {
      width: 50%; } }
  @media (max-width: 480px) {
    .navigation-bar {
      width: 90%; } }

.navigation-underlay {
  top: 0;
  right: 0;
  z-index: 1100;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0); }
  .navigation-underlay:hover {
    cursor: pointer; }
  .navigation-underlay.open {
    -webkit-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
    transform: translate(0%, 0); }
  @media (min-width: 992px) {
    .navigation-underlay.open {
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      transform: translate(100%, 0); } }

.navigation-button {
  padding: 10px;
  z-index: 2000;
  top: 15px;
  right: 15px;
  position: fixed;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold; }
  .navigation-button:hover {
    background-color: #f0f0f0; }
  @media (min-width: 992px) {
    .navigation-button {
      display: none; } }
  @media (max-width: 480px) {
    .navigation-button {
      right: auto;
      top: 10px;
      left: 15px; } }

.no-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%); }
  .no-content h1 {
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0 15px;
    width: 100%;
    text-align: center;
    color: #f1f1f1;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .no-content.show {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

.countdown-timer .time {
  z-index: 100;
  width: 25%;
  position: relative;
  display: inline;
  float: left;
  font-size: 24px;
  line-height: 18px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  margin: 20px 0 0 0; }
  .countdown-timer .time i {
    font-size: 10px;
    display: block;
    width: 100%; }

.glass {
  z-index: 20;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.17); }

.frost {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-position: center 99%;
  background-size: cover;
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-box-shadow: inset 0 -50px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 -50px 30px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -50px 30px rgba(0, 0, 0, 0.2); }

.watchlist-card {
  position: relative;
  display: block;
  margin: 0 auto 25px auto;
  max-width: 300px;
  height: 400px;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px 15px 0 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 150px 150px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 150px 150px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 150px 150px rgba(0, 0, 0, 0.3); }
  .watchlist-card h2 {
    letter-spacing: 1px; }
  .watchlist-card h5 {
    font-size: 12px; }
  .watchlist-card h4 {
    font-size: 16px;
    color: #ffffff;
    margin: 0px 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26); }
  .watchlist-card h6 {
    z-index: 20;
    position: absolute;
    bottom: 60px;
    font-weight: bold;
    left: 0;
    width: 50%;
    padding: 10px 0 10px 15px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2); }
    .watchlist-card h6 small {
      text-transform: none;
      color: inherit; }
    @media (max-width: 767px) {
      .watchlist-card h6 {
        width: 70%; } }
  .watchlist-card h2, .watchlist-card h5 {
    z-index: 10;
    font-weight: bold;
    position: relative;
    color: #ffffff; }
  @media (max-width: 767px) {
    .watchlist-card {
      max-width: 270px; }
      .watchlist-card h2 {
        font-size: 25px; } }

.watchlist-card .more-button {
  z-index: 300;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: none;
  height: 26px;
  width: 26px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  padding: 0;
  -webkit-transition: transform 300ms ease;
  -ms-transition: transform 300ms ease;
  transition: transform 300ms ease;
  -webkit-transform: translate(-5px, 273px) scale(1.7);
  -ms-transform: translate(-5px, 273px) scale(1.7);
  transform: translate(-5px, 273px) scale(1.7);
  -webkit-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.4); }
  .watchlist-card .more-button span {
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease; }
  .watchlist-card .more-button .glyphicon {
    z-index: 20;
    position: absolute;
    left: 1px;
    line-height: 23px;
    width: 100%;
    height: 100%;
    font-size: 11px;
    opacity: 0;
    -webkit-transform: translate(-20px, 0) scale(0);
    -ms-transform: translate(-20px, 0) scale(0);
    transform: translate(-20px, 0) scale(0); }
  .watchlist-card .more-button .behind {
    z-index: 10;
    position: relative;
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    opacity: 1;
    color: #6840e5;
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); }
  .watchlist-card .more-button:hover, .watchlist-card .more-button:focus {
    -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.6); }
    .watchlist-card .more-button:hover .behind, .watchlist-card .more-button:focus .behind {
      opacity: 0;
      -webkit-transform: translate(20px, 0) scale(0);
      -ms-transform: translate(20px, 0) scale(0);
      transform: translate(20px, 0) scale(0); }
    .watchlist-card .more-button:hover .glyphicon, .watchlist-card .more-button:focus .glyphicon {
      opacity: 1;
      -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
      transform: translate(0, 0) scale(1); }
  .watchlist-card .more-button.open {
    -webkit-transform: translate(0, 0) scale(1) rotate(45deg);
    -ms-transform: translate(0, 0) scale(1) rotate(45deg);
    transform: translate(0, 0) scale(1) rotate(45deg); }
    .watchlist-card .more-button.open .behind {
      opacity: 0;
      -webkit-transform: translate(20px, 0) scale(0);
      -ms-transform: translate(20px, 0) scale(0);
      transform: translate(20px, 0) scale(0); }
    .watchlist-card .more-button.open .glyphicon {
      opacity: 1;
      -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
      transform: translate(0, 0) scale(1); }
  .watchlist-card .more-button.up-to-date .behind {
    opacity: 0;
    -webkit-transform: translate(20px, 0) scale(0);
    -ms-transform: translate(20px, 0) scale(0);
    transform: translate(20px, 0) scale(0); }
  .watchlist-card .more-button.up-to-date .glyphicon {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); }

.watchlist-card {
  overflow: hidden; }
  .watchlist-card .season-info {
    padding-top: 120px;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
    .watchlist-card .season-info .button.red {
      margin: 25px auto 10px auto;
      width: 90%;
      display: block; }
    .watchlist-card .season-info.open {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    .watchlist-card .season-info .items {
      position: relative;
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
      max-height: 265px;
      overflow-y: auto; }
      .watchlist-card .season-info .items::-webkit-scrollbar {
        width: 0px;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */ }
      .watchlist-card .season-info .items .left {
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        width: 30%;
        float: left;
        -webkit-transition: opacity 400ms ease;
        -ms-transition: opacity 400ms ease;
        transition: opacity 400ms ease; }
        .watchlist-card .season-info .items .left.invisible {
          opacity: 0; }
      .watchlist-card .season-info .items .item {
        font-weight: bold;
        width: 40%;
        float: left; }
      .watchlist-card .season-info .items .watched {
        text-align: right;
        width: 30%;
        float: left; }
      .watchlist-card .season-info .items li {
        margin: 10px auto;
        height: 50px;
        width: 90%;
        background-color: #ffffff;
        display: block;
        padding: 15px 10px;
        border-radius: 4px;
        -webkit-transition: opacity 500ms ease;
        -ms-transition: opacity 500ms ease;
        transition: opacity 500ms ease; }
        .watchlist-card .season-info .items li.disabled {
          opacity: 0.7; }
          .watchlist-card .season-info .items li.disabled .watched .glyphicon:hover {
            opacity: 0.5; }
  .watchlist-card .shutter, .watchlist-card .shutter-delete {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transform: translate(0, -115%);
    -ms-transform: translate(0, -115%);
    transform: translate(0, -115%);
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease; }
    .watchlist-card .shutter h2, .watchlist-card .shutter-delete h2 {
      width: 100%;
      position: absolute;
      top: 120px;
      left: 0; }
    .watchlist-card .shutter .button, .watchlist-card .shutter-delete .button {
      margin: 200px auto 0 auto;
      display: block;
      max-width: 100px; }
    .watchlist-card .shutter.open, .watchlist-card .shutter-delete.open {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1; }
  .watchlist-card .shutter-delete h2 {
    text-align: center;
    top: 85px; }

.rewatch-card {
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto 25px auto;
  max-width: 300px;
  height: 400px;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px 15px 0 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 130px 130px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 130px 130px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 130px 130px rgba(0, 0, 0, 0.2); }
  .rewatch-card h2 {
    letter-spacing: 1px; }
  .rewatch-card h2, .rewatch-card h5 {
    float: left;
    z-index: 10;
    font-weight: bold;
    position: relative;
    color: #ffffff; }
  .rewatch-card h5 {
    z-index: 100;
    width: 100%;
    padding: 0;
    margin: 240px 0 0 10px;
    font-size: 13px; }
  .rewatch-card h2 .details {
    display: block;
    width: 100%;
    font-size: 13px;
    padding: 10px 0 10px 0;
    font-weight: normal;
    letter-spacing: normal; }
  .rewatch-card .delete-button {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 300;
    background-color: transparent;
    border: none;
    color: #ffffff;
    opacity: 0.3; }
    .rewatch-card .delete-button:hover {
      opacity: 1; }
  .rewatch-card .more-button {
    z-index: 300;
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: none;
    height: 26px;
    width: 26px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 0;
    -webkit-transform: translate(-5px, 338px) scale(1.7);
    -ms-transform: translate(-5px, 338px) scale(1.7);
    transform: translate(-5px, 338px) scale(1.7);
    -webkit-box-shadow: 0 2px 13px rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 13px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.26);
    -webkit-transition: transform 300ms ease;
    -ms-transition: transform 300ms ease;
    transition: transform 300ms ease; }
    .rewatch-card .more-button .glyphicon {
      font-size: 11px;
      left: 1px;
      color: #000000; }
    .rewatch-card .more-button:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.26);
      -ms-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.26);
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.26); }
    .rewatch-card .more-button.open {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
  @media (max-width: 767px) {
    .rewatch-card {
      max-width: 270px; }
      .rewatch-card h2 {
        font-size: 25px; } }

.show-card {
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto 25px auto;
  max-width: 300px;
  height: 400px;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px 15px 0 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 130px 130px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 130px 130px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 130px 130px rgba(0, 0, 0, 0.2); }
  .show-card h2 {
    letter-spacing: 1px;
    z-index: 10;
    font-weight: bold;
    position: relative;
    color: #ffffff; }

.home .show-card {
  max-width: 250px;
  height: 370px; }

.season-info {
  padding-top: 50px;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }
  .season-info.open {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .season-info .lists {
    position: relative;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    height: 260px;
    overflow-y: auto; }
    .season-info .lists::-webkit-scrollbar {
      width: 0px;
      /* remove scrollbar space */
      background: transparent;
      /* optional: just make scrollbar invisible */ }
    .season-info .lists .button.red {
      width: 90%;
      display: block;
      margin: 25px auto 10px auto; }
  .season-info .items {
    z-index: 100;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    display: block;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease; }
    .season-info .items.active {
      z-index: 200;
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    .season-info .items li {
      margin: 10px auto;
      height: 50px;
      width: 90%;
      background-color: #ffffff;
      display: block;
      padding: 15px 10px;
      border-radius: 4px;
      -webkit-transition: opacity 500ms ease;
      -ms-transition: opacity 500ms ease;
      transition: opacity 500ms ease; }
      .season-info .items li.disabled {
        opacity: 0.7; }
        .season-info .items li.disabled .watched .glyphicon:hover {
          opacity: 0.5; }
    .season-info .items .item {
      position: relative;
      padding-left: 20px;
      font-weight: bold;
      width: 85%;
      float: left; }
      .season-info .items .item small {
        font-size: 75%; }
    .season-info .items .watched {
      font-size: 16px;
      text-align: right;
      width: 15%;
      float: left; }
      .season-info .items .watched .glyphicon {
        cursor: pointer;
        opacity: 0.5;
        -webkit-transition: opacity 200ms ease;
        -ms-transition: opacity 200ms ease;
        transition: opacity 200ms ease; }
        .season-info .items .watched .glyphicon.glyphicon-eye-open {
          opacity: 1; }
        .season-info .items .watched .glyphicon:hover {
          opacity: 1; }

.season-info .tabs {
  min-height: 70px;
  width: 90%;
  margin: auto;
  overflow-x: auto; }
  .season-info .tabs ul {
    margin: 0;
    padding: 0; }
  .season-info .tabs li {
    text-align: center;
    float: left;
    width: 20%;
    padding: 4px 0;
    color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid transparent;
    margin: 5px 0;
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease; }
    .season-info .tabs li.disabled {
      opacity: 0.7; }
    .season-info .tabs li.active {
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid #ffffff; }
    .season-info .tabs li:hover {
      cursor: pointer;
      border: 1px solid #ffffff; }

.season-info .shutter {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transform: translate(0, -115%);
  -ms-transform: translate(0, -115%);
  transform: translate(0, -115%);
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease; }
  .season-info .shutter h2 {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0; }
  .season-info .shutter .button {
    margin: 200px auto 0 auto;
    display: block;
    max-width: 100px; }
  .season-info .shutter.open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }

.season-tabs {
  padding-top: 50px;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }
  .season-tabs.open {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .season-tabs .lists {
    position: relative;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    height: 260px;
    overflow-y: auto; }
    .season-tabs .lists::-webkit-scrollbar {
      width: 0px;
      /* remove scrollbar space */
      background: transparent;
      /* optional: just make scrollbar invisible */ }
    .season-tabs .lists .button.red {
      width: 90%;
      display: block;
      margin: 25px auto 10px auto; }
  .season-tabs .items {
    z-index: 100;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    display: block;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease; }
    .season-tabs .items.active {
      z-index: 200;
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    .season-tabs .items .left {
      font-size: 12px;
      line-height: 20px;
      font-weight: bold;
      width: 30%;
      float: left;
      -webkit-transition: opacity 400ms ease;
      -ms-transition: opacity 400ms ease;
      transition: opacity 400ms ease; }
      .season-tabs .items .left.invisible {
        opacity: 0; }
    .season-tabs .items .item {
      font-weight: bold;
      width: 40%;
      float: left; }
    .season-tabs .items .watched {
      text-align: right;
      width: 30%;
      float: left; }
      .season-tabs .items .watched .glyphicon {
        cursor: pointer;
        opacity: 0.5;
        -webkit-transition: opacity 200ms ease;
        -ms-transition: opacity 200ms ease;
        transition: opacity 200ms ease; }
        .season-tabs .items .watched .glyphicon.glyphicon-eye-open {
          opacity: 1; }
        .season-tabs .items .watched .glyphicon:hover {
          opacity: 1; }
    .season-tabs .items li {
      margin: 10px auto;
      height: 50px;
      width: 90%;
      background-color: #ffffff;
      display: block;
      padding: 15px 10px;
      border-radius: 4px;
      -webkit-transition: opacity 500ms ease;
      -ms-transition: opacity 500ms ease;
      transition: opacity 500ms ease; }
      .season-tabs .items li.disabled {
        opacity: 0.7; }
        .season-tabs .items li.disabled .watched .glyphicon:hover {
          opacity: 0.5; }

.season-tabs .tabs {
  min-height: 70px;
  width: 90%;
  margin: auto;
  overflow-x: auto; }
  .season-tabs .tabs ul {
    margin: 0;
    padding: 0; }
  .season-tabs .tabs li {
    text-align: center;
    float: left;
    width: 20%;
    padding: 4px 0;
    color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid transparent;
    margin: 5px 0;
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease; }
    .season-tabs .tabs li.disabled {
      opacity: 0.7; }
    .season-tabs .tabs li.active {
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid #ffffff; }
    .season-tabs .tabs li:hover {
      cursor: pointer;
      border: 1px solid #ffffff; }

.season-tabs .shutter {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease; }
  .season-tabs .shutter h2 {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0; }
  .season-tabs .shutter .button {
    margin: 200px auto 0 auto;
    display: block;
    max-width: 100px; }
  .season-tabs .shutter.open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }

.form-element {
  position: relative;
  margin-bottom: 20px; }
  .form-element label {
    display: block;
    width: 100%;
    margin: 0 0 5px 8px; }
  .form-element input[type="text"],
  .form-element input[type="email"],
  .form-element input[type="password"],
  .form-element select {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #e4e4e4;
    border-radius: 5px; }
    .form-element input[type="text"]:hover,
    .form-element input[type="email"]:hover,
    .form-element input[type="password"]:hover,
    .form-element select:hover {
      border: 2px solid #000000; }
    .form-element input[type="text"]:focus,
    .form-element input[type="email"]:focus,
    .form-element input[type="password"]:focus,
    .form-element select:focus {
      border: 2px solid #6840e5; }
  .form-element select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none; }
  .form-element .glyphicon {
    pointer-events: none;
    position: absolute;
    z-index: 200;
    right: 10px;
    top: auto;
    bottom: 14px;
    color: #909090; }
  .form-element input[type="text"]:hover {
    cursor: text; }
  .form-element select:hover {
    cursor: pointer; }

.form-element.search input {
  padding-right: 40px; }

.form-element .search-loader {
  position: absolute;
  right: 10px;
  bottom: 10px; }

.select-series {
  position: relative;
  overflow: hidden;
  min-height: 54px;
  display: block;
  width: 100%;
  padding: 0; }
  .select-series .radio {
    position: relative;
    z-index: 200;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 12px;
    box-sizing: border-box; }
    .select-series .radio:before {
      content: '';
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid #e4e4e4;
      width: 100%;
      height: 100%;
      border-radius: 5px; }
    .select-series .radio:hover:before {
      border: 2px solid #000000; }
    .select-series .radio.selected:before {
      border: 2px solid #6840e5; }
    .select-series .radio input[type=radio] {
      opacity: 0;
      z-index: 100;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      cursor: pointer; }
  .select-series .col-xs-3 {
    padding: 5px; }
  .select-series .selected-none {
    position: absolute;
    top: 0;
    left: 0;
    color: #9a9a9a;
    padding: 10px;
    border: 2px solid #e4e4e4;
    display: block;
    margin-top: 5px;
    min-height: 45px;
    line-height: 21px;
    width: 100%;
    border-radius: 5px;
    opacity: 0;
    cursor: not-allowed;
    -webkit-transition: opacity 500ms ease;
    -ms-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
    .select-series .selected-none.selected {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }

.button {
  display: inline-block;
  z-index: 200;
  padding: 10px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  background-image: none;
  border: 3px solid #6840e5;
  border-radius: 6px;
  color: #6840e5;
  background-color: transparent;
  -webkit-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  transition: all 150ms ease; }
  .button:hover {
    border: 3px solid #6840e5;
    color: #ffffff;
    background-color: #6840e5; }
  .button[disabled] {
    border: 3px solid #bbbbbb;
    background-color: #bbbbbb;
    color: #ffffff; }
    .button[disabled]:hover {
      border: 3px solid #bbbbbb;
      background-color: #bbbbbb;
      color: #ffffff; }
  .button.red {
    color: #FF5154;
    border: 3px solid #FF5154; }
    .button.red:hover {
      border: 3px solid #FF5154;
      color: #ffffff;
      background-color: #FF5154; }
  .button.full-width {
    width: 100%;
    max-width: auto; }

.search-loader {
  position: relative;
  height: 23px;
  width: 23px;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-animation: 1s rotate infinite;
  animation: 1s rotate infinite; }
  .search-loader:after {
    z-index: 20;
    position: absolute;
    content: '';
    top: 9px;
    left: -1px;
    right: 0;
    height: 4px;
    width: 4px;
    background-color: #fff; }
  .search-loader:before {
    z-index: 10;
    content: '';
    height: 23px;
    width: 23px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #6840e5; }
  .search-loader.show {
    opacity: 1; }

.popup {
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease; }
  .popup.open {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .popup .center {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .popup .content {
    position: relative;
    margin: auto;
    display: block;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff; }
  .popup h3 {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px; }
  @media (max-width: 991px) {
    .popup {
      width: 100%; }
      .popup .content {
        width: 90%; } }

.popup.slide-down {
  background-color: #ffffff;
  width: 100%;
  height: 220px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%); }
  .popup.slide-down .content {
    max-height: none;
    padding: 0; }
  .popup.slide-down.open {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

.fade-in {
  -webkit-animation: 400ms fade-in;
  animation: 400ms fade-in; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.margin-none {
  margin: 0 !important; }

.margin-top-0 {
  margin-top: 0 !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-top-40 {
  margin-top: 40px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-top-60 {
  margin-top: 60px !important; }

.padding-bottom-0 {
  padding-bottom: 0 !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.padding-bottom-20 {
  padding-bottom: 20px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

.padding-bottom-40 {
  padding-bottom: 40px !important; }

.padding-bottom-120 {
  padding-bottom: 120px !important; }

.padding-top-0 {
  padding-top: 0 !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-top-40 {
  padding-top: 40px !important; }

.padding-top-60 {
  padding-top: 60px !important; }

.padding-top-70 {
  padding-top: 70px !important; }

.padding-top-120 {
  padding-top: 120px !important; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-bottom-60 {
  margin-bottom: 60px !important; }

.margin-bottom-70 {
  margin-bottom: 70px !important; }

.margin-bottom-100 {
  margin-bottom: 100px !important; }

@media (max-width: 991px) {
  .margin-bottom-sm-0 {
    margin-bottom: 0 !important; }
  .margin-bottom-sm-10 {
    margin-bottom: 10px !important; }
  .margin-bottom-sm-20 {
    margin-bottom: 20px !important; }
  .margin-bottom-sm-30 {
    margin-bottom: 30px !important; }
  .margin-bottom-sm-40 {
    margin-bottom: 40px !important; }
  .margin-top-sm-0 {
    margin-top: 0 !important; }
  .margin-top-sm-10 {
    margin-top: 10px !important; }
  .margin-top-sm-20 {
    margin-top: 20px !important; }
  .margin-top-sm-30 {
    margin-top: 30px !important; }
  .margin-top-sm-40 {
    margin-top: 40px !important; } }

@media (max-width: 767px) {
  .margin-bottom-xs-0 {
    margin-bottom: 0 !important; }
  .margin-bottom-xs-10 {
    margin-bottom: 10px !important; }
  .margin-bottom-xs-20 {
    margin-bottom: 20px !important; }
  .margin-bottom-xs-30 {
    margin-bottom: 30px !important; }
  .margin-bottom-xs-40 {
    margin-bottom: 40px !important; }
  .margin-top-xs-0 {
    margin-top: 0 !important; }
  .margin-top-xs-10 {
    margin-top: 10px !important; }
  .margin-top-xs-20 {
    margin-top: 20px !important; }
  .margin-top-xs-30 {
    margin-top: 30px !important; }
  .margin-top-xs-40 {
    margin-top: 40px !important; } }
