<div class="container">
   <div class="row">
      <button class="button pull-right margin-bottom-30" ng-click="WatchlistCtrl.openPopup()">New</div>

      <div class="col-md-4 fade-in" ng-repeat="watchlist in WatchlistCtrl.watchlist" ng-if="watchlist">
         <watchlist-card
            heading="WatchlistCtrl.shows.$getRecord( watchlist.showId ).series"
            subheading="'Season '+ watchlist.on.season +' Episode '+ watchlist.on.episode"
            details="WatchlistCtrl.shows.$getRecord( watchlist.showId ).seasons['season_'+ watchlist.on.season ][ watchlist.on.episode ].name"
            imgsrc="WatchlistCtrl.shows.$getRecord( watchlist.showId ).imgSrc"
            seasons="watchlist.unwatched"
            currentseason="watchlist.on.season"
            watchlistobj="WatchlistCtrl.watchlist"
            index="$index">

            <frost-glass imgsrc="WatchlistCtrl.shows.$getRecord( watchlist.showId ).imgSrc" >
               <countdown-timer to="WatchlistCtrl.nextAired( watchlist )" ></countdown-timer>
            </frost-glass>
         </watchlist-card>
      </div>
   </div>
</div>

<div class="popup" ng-class="{ 'open': WatchlistCtrl.popupOpen }" ng-click="ShowsCtrl.popupOpen = false">
   <div class="center">
      <div class="content">
         <h3>Add To Watchlist</h3>
         <form name="form">
            <div class="form-element">
               <label for="series">Series Name</label>
               <span class="glyphicon glyphicon-chevron-down"></span>
               <select name="series" ng-model="WatchlistCtrl.seriesRef" ng-change="WatchlistCtrl.season = ''; WatchlistCtrl.episode = ''">
                  <option ng-repeat="show in WatchlistCtrl.shows | orderBy: 'series'" ng-selected="{{ show.$id == WatchlistCtrl.seriesRef }}"
                     value="{{ show.$id }}"
                     ng-if="show.status == 'Running'" >{{ show.series }}
                  </option>
               </select>
            </div>

            <div class="form-element">
               <label for="seasons">Seasons</label>
               <div class="select-series">
                  <div class="col-xs-3" ng-repeat="season in WatchlistCtrl.shows.$getRecord( WatchlistCtrl.seriesRef ).seasons">
                     <label class="radio" ng-class="{'selected' : WatchlistCtrl.season == $index + 1 }" >
                        <input type="radio" ng-model="WatchlistCtrl.season" value="{{ $index + 1 }}" >
                           {{ $index + 1 }}
                     </label>
                  </div>
                  <span class="selected-none" ng-class="{'selected': !WatchlistCtrl.seriesRef }">Select a season</span>
               </div>
            </div>

            <div class="form-element">
               <label for="seasons">Episodes</label>
               <div class="select-series">
                  <div class="col-xs-3"
                     ng-repeat="episode in WatchlistCtrl.shows.$getRecord( WatchlistCtrl.seriesRef ).seasons[ 'season_' + WatchlistCtrl.season ]"
                     ng-if="WatchlistCtrl.checkAired(episode.airDate)">
                     <label class="radio" ng-class="{'selected' : WatchlistCtrl.episode == $index }" >
                        <input type="radio" ng-model="WatchlistCtrl.episode" value="{{ $index }}" >
                           {{ $index }}
                     </label>
                  </div>
                  <span class="selected-none" ng-class="{'selected': !WatchlistCtrl.season }">Select a episode</span>
               </div>
            </div>

            <button class="button red" ng-click="WatchlistCtrl.popupOpen = false">cancel</button>
            <button class="button pull-right" ng-click="WatchlistCtrl.add()" ng-disabled="!WatchlistCtrl.seriesRef || !WatchlistCtrl.season || !WatchlistCtrl.episode">add</button>
         </form>
      </div>
   </div>
</div>
