<div class="countdown-card" ng-style="{ 'background-image': 'url({{ imgsrc }})' }">
   <button type="button" name="more" class="more-button" ng-class="{'open' : open}" ng-click="toggleOpen()">
      <span class="glyphicon glyphicon-plus"></span>
   </button>

   <div class="shutter" ng-class="{'open' : watchlistobj[index].upToDate }">
      <h2 class="text-center">Your Up to Date!</h2>
      <a href class="btn btn-lg btn-success" ng-click="watchlistobj.$remove(index)">ok</a>
   </div>

   <div class="season-info" ng-class="{ 'open': open }" >
      <ul class="items active">
         <li ng-repeat="info in seasoninfo" ng-if="$index > 0"  ng-class="{ 'disabled' : !aired(info.airDate).aired || !info.watched }">
            <span class="left" ng-class="{'invisible': info.watched }">{{ aired(info.airDate).by }}</span>
            <span class="item">Episode {{ $index }}</span>
            <span class="watched" ng-click="save(watchlistobj, index, seasoninfo, info, $index)" >
               <span class="glyphicon" ng-class="{ 'glyphicon-eye-open' : info.watched, 'glyphicon-eye-close' : !info.watched }"></span>
            </span>
         </li>
      </ul>
   </div>

   <h2>{{ heading }}</h2>
   <h4>{{ details }}</h4>
   <h5>On {{ subheading }}</h5>
   <h6>Next <small>Aired Episode</small></h6>

   <div class="glass" ng-class="{ 'show': visible }">
      <ng-transclude></ng-transclude>
      <div class="frost" ng-style="{ 'background-image': 'url({{ imgsrc }})' }"></div>
   </div>
</div>
