<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <a class="navbar-brand" ui-sref="home"><strong>toWatch</strong></a>

      <ul class="nav navbar-nav navbar-right">
         <li ui-sref-active="active"><a ui-sref="home">HOME</a></li>
         <li ui-sref-active="active"><a ui-sref="account">ACCOUNT</a></li>
         <li ui-sref-active="active"><a ui-sref="signin">SIGNIN</a></li>
         <li><a ng-click="NavbarCtrl.logout()" href>SIGNOUT</a></li>
      </ul>
   </div>
</nav>
