<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <a class="navbar-brand" ui-sref="home"><strong>toWatch</strong></a>

      <ul class="nav navbar-nav navbar-right">
         <li ui-sref-active="active"><a ui-sref="home">HOME</a></li>
         <li ui-sref-active="active" ng-show="NavbarCtrl.userSignedIn()"><a ui-sref="rewatch">REWATCH LIST</a></li>
         <li ui-sref-active="active" ng-show="NavbarCtrl.userSignedIn()"><a ui-sref="watchlist">WATCH LIST</a></li>
         <li ui-sref-active="active" ng-show="NavbarCtrl.userSignedIn()"><a ui-sref="shows">SHOWS</a></li>
         <li ui-sref-active="active" ng-hide="NavbarCtrl.userSignedIn()"><a ui-sref="signin">SIGNIN</a></li>
         <li ng-show="NavbarCtrl.userSignedIn()"><a ng-click="NavbarCtrl.logout()" href>SIGNOUT</a></li>
      </ul>
   </div>
</nav>
