<div class="season-tabs" ng-class="{ 'open': open }" >

   <div class="shutter" ng-class="{'open' : deleteOpen }">
      <h2>Delete from Rewatchlist?</h2>
      <div class="col-xs-6">
         <button type="button" name="cancel" class="button" ng-click="deleteOpen = false">cancel</button>
      </div>
      <div class="col-xs-6">
         <button type="button" name="delete" class="button red" ng-click="rewatchobj.$remove(index)">delete</button>
      </div>
   </div>

   <div class="tabs">
      <ul ng-repeat="season in seasons">
         <li ng-class="{ 'active': isTabSelected(season[0]) }" ng-click="tabSelect(season[0])">S {{ season[0] }}</li>
      </ul>
   </div>

   <div class="lists">
      <ul class="items" ng-class="{ 'active': isTabSelected(season[0]) }" ng-repeat="season in seasons" >
         <li ng-repeat="episode in season" ng-if="$index > 0"  ng-class="{ 'disabled' : !episode.watched }">
            <span class="left" ng-class="{'invisible': episode.watched }">{{ aired(episode.airDate).by }}</span>

            <span class="item">Episode {{ $index }}</span>

            <span class="watched" ng-click="save(watchlistobj, index, seasoninfo, episode, $index)" >
               <span class="dripicons-preview" ng-class="{'active': episode.watched }"></span>
            </span>
         </li>

         <button type="button" name="delete button" class="button red" ng-click="toggleOpen('deleteOpen')">Delete</button>
      </ul>
   </div>
</div>
