<div class="container">
   <h1>Watchlist</h1>
   <div class="row">
      <div class="col-md-4" ng-repeat="watchlist in WatchlistCtrl.watchlist">
         <shows-countdown-card
            heading="watchlist.seriesId"
            subheading="'Season '+ show.season +' Episode '+ show.episode.number"
            imgsrc="show.imgSrc"
            seasoninfo="[{ 'days': '-2', 'episodeNumber': '1', 'watched': false }]" >
            <countdown-timer to="show.episode.airDate" ></countdown-timer>
         </shows-countdown-card>
      </div>
   </div>

   <div class="row">
      <h3>Add To Watchlist</h3>
      <div class="col-md-6">
         <form class="form-horizontal" name="form">
            <div class="form-group">
               <label for="series">Series</label>
               <select class="form-control" name="series" ng-model="WatchlistCtrl.series">
                  <option ng-repeat="show in WatchlistCtrl.shows" ng-selected="{{ WatchlistCtrl.series == WatchlistCtrl.shows[$index].$id }}"
                     value="{{ WatchlistCtrl.shows[$index].$id }}">{{ show.series }}
                  </option>
               </select>
            </div>

            <button class="btn btn-lg btn-primary pull-right" ng-click="WatchlistCtrl.add()">Add</button>
         </form>
      </div>
   </div>
</div>
