<div class="container">

   <div class="row">
      <div class="col-md-4" ng-repeat="watchlist in WatchlistCtrl.watchlist" ng-if="watchlist">
         <shows-countdown-card
            heading="WatchlistCtrl.shows.$getRecord( watchlist.showId ).series"
            subheading="'Season '+ watchlist.on.season +' Episode '+ watchlist.on.episode"
            details="WatchlistCtrl.shows.$getRecord( watchlist.showId ).seasons['season_'+ watchlist.on.season ][ watchlist.on.episode ].name"
            imgsrc="WatchlistCtrl.shows.$getRecord( watchlist.showId ).imgSrc"
            seasoninfo="watchlist.unwatched"
            visible="true"
            watchlistobj="WatchlistCtrl.watchlist"
            index="$index">

            <countdown-timer to="WatchlistCtrl.nextAired( watchlist ).nextAired" ></countdown-timer>
         </shows-countdown-card>
      </div>
   </div>

   <div class="row">
      <div class="col-md-4">
         <h3>Add To Watchlist</h3>
         <form name="form">
            <div class="form-element">
               <label for="series">Series Name</label>
               <span class="glyphicon glyphicon-chevron-down"></span>
               <select name="series" ng-model="WatchlistCtrl.seriesRef" >
                  <option ng-repeat="show in WatchlistCtrl.shows | orderBy: 'series'" ng-selected="{{ show.$id == WatchlistCtrl.seriesRef }}"
                     value="{{ show.$id }}"
                     ng-if="show.status == 'Running'" >{{ show.series }}
                  </option>
               </select>
            </div>

            <div class="form-element">
               <label for="season">Season</label>
               <span class="glyphicon glyphicon-chevron-down"></span>
               <select name="season" ng-model="WatchlistCtrl.season">
                  <option ng-repeat="season in WatchlistCtrl.shows.$getRecord( WatchlistCtrl.seriesRef ).seasons" value="{{ $index + 1 }}">{{ $index + 1 }}</option>
               </select>
            </div>

            <div class="form-element">
               <label for="episode">Episode</label>
               <span class="glyphicon glyphicon-chevron-down"></span>
               <select name="episode" ng-model="WatchlistCtrl.episode">
                  <option ng-repeat="episode in WatchlistCtrl.shows.$getRecord( WatchlistCtrl.seriesRef ).seasons[ 'season_' + WatchlistCtrl.season ]"
                        ng-if="$index > 0 && WatchlistCtrl.checkAired(episode.airDate)" value="{{ $index }}">{{ $index }} {{ episode.name }}</option>
               </select>
            </div>

            <button class="button pull-right" ng-click="WatchlistCtrl.add()">Add</button>
         </form>
      </div>
   </div>
</div>
